<div class="modal-header">
    <span class="modalTitle">
        <span ng-show="isCreating()">Create period</span>
        <span ng-hide="isCreating()">Editing period: {{info.selectedPeriod.period}}</span>
    </span>
</div>
<div class="modal-body">

    <form class="form-horizontal">

        <div ng-show="isCreating()" class="form-group">
            <label class="control-label col-xs-1" for="periodNameField">
                Name:
            </label>
            <div class="col-xs-7">
                <input type="text" id="periodNameField"
                       ng-model="info.newName" required="" class="form-control"
                       focus-on="period_form_activation">
            </div>
        </div>

        <table>
            <tbody>
            <tr>
                <td style="text-align: center">
                    Start: {{info.selectedPeriod.start | date:'yyyy-MM-dd'}}
                </td>
                <td></td>
                <td style="text-align: center">
                    End: {{info.selectedPeriod.end | date:'yyyy-MM-dd'}}
                </td>
            </tr>
            <tr style="vertical-align: top">
                <td>
                    <div class="well well-sm pull-left " ng-model="info.selectedPeriod.start">
                        <datepicker show-weeks="false" max-date="info.selectedPeriod.end">
                        </datepicker>
                    </div>
                </td>
                <td style="vertical-align: middle">
                    <span class="fa fa-arrow-right"></span>
                </td>
                <td>
                    <div class="well well-sm pull-left" ng-model="info.selectedPeriod.end">
                        <datepicker show-weeks="false" min-date="info.selectedPeriod.start">
                        </datepicker>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal-footer" ng-controller="UtilCtrl">
    <button ng-show="!isCreating()"
            class="btn btn-primary"
            ng-click="set()"
            ng-disabled="isUnchanged()"
            title="Applies the changes in the timeline"
            >Apply</button>

    <button ng-show="!isCreating()"
            class="btn btn-warning"
            ng-click="delete()"
            ng-disabled="cannotDelete()"
            title="Deletes this period from the database"
            >Delete...</button>

    <button ng-show="isCreating()"
            class="btn btn-primary"
            ng-click="create()"
            ng-disabled="isInvalid()"
            title="Add the new period to the database"
            >Create</button>

    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
