<div dropdown on-toggle="dropdownToggled(open)">
    <button class="btn btn-default btn-sm dropdown-toggle"
            dropdown-toggle
            title="Allows to visualize a pre-defined period or create a new period">
        Period <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="period in vm.periods | orderBy:'-start'"
            class="periodSelectionItem"
            tooltip="{{period.start}} – {{period.end}}">

            <span ng-click="selectPeriod(period)">
                <span ng-show="vm.selectedPeriodId === period._id" class="fa fa-check"></span>
                {{period.period}}
            </span>
            <span ng-hide="vm.selectedPeriodId === period._id"
                  style="position: absolute; right: 5px"
                  title="Edit this period">
                <button ng-click="editPeriod(period._id)" class="btn btn-default btn-xs">
                    <span class="fa fa-edit"></span>
                </button>
            </span>
        </li>
        <li class="divider"></li>
        <li class="periodSelectionItem" ng-click="createNewPeriod()">
            Create new period...
        </li>
    </ul>
</div>
