<div id="olmap-container" style="width: 100%; height: 100%">
    <div ng-controller="MapCtrl" >

        <nav class="navbar navbar-default header-navbar">
            <form class="navbar-form navbar-right" style="display: inline-block">
                <button type="button" class="btn btn-default btn-xs" ng-model="mv.editMode" btn-checkbox >
                    Edit
                </button>
                <div ng-show="mv.editMode" style="display: inline-block">
                    <span>&nbsp;Add:</span>
                    <div ng-repeat="drawType in mv.draw.typeList" style="display: inline-block; vertical-align: top; position: relative">
                        <label class="btn btn-default btn-xs"
                               ng-model="mv.draw.selectedType" btn-radio="drawType.value">
                            {{drawType.name}}
                        </label>
                        <span ng-show="mv.draw.selectedType === drawType.name" style="font-size: xx-small; position: absolute; top: -3px; right: -1px">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                    </div>
                </div>
            </form>
        </nav>

        <div id="olmap">
            <div id="gmap2" class="fill"></div>
            <div id="omap2" class="fill"></div>
        </div>

    </div>
</div>
