<div class="modal-header">
    <h3>Select the platforms to include in timeline</h3>
</div>
<div class="modal-body">
    <form name="form" class="css-form" novalidate>
        <div>
            <ul>
                <li ng-repeat="(pt, tmls) in platformOptions.byPlatformType">
                    <span style="font-style: italic">{{pt}}</span>
                    <ul>
                        <li ng-repeat="tml in tmls">
                            <label class="checkbox" title="{{tml.platform_name}} - (trackingDBID={{tml.trackingDBID}})">

                                <span ng-show="tml.color" style="color: {{tml.color}}; font-size: x-small">
                                    <span class="fa fa-circle fa-fw"></span>
                                </span>

                                <input type="checkbox" ng-model="platformOptions.selectedPlatforms[tml.platform_id]"
                                       value="platformOptions.selectedPlatforms[tml.platform_id]"/>
                                {{tml.platform_name}}
                                <!-- show some more info for diagnostics mainly because there are duplicate names -->
                                <span style="color: lightgray; font-weight: lighter"> ({{tml.trackingDBID}})</span>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--<pre>platformOptions: {{platformOptions | json}}</pre>-->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="set()"
            ng-disabled="isUnchanged() || !isValid()">Apply</button>
    <button class="btn btn-primary" ng-click="reset()"
            ng-disabled="isUnchanged() || !isValid()">Reset</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>
